.container
{
    position: relative;
    width: 100%;
}

.inputText
{
    font-size: 1.6rem;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    outline: none;
    text-align: center;
    border: none;
    border-bottom: 2px solid hsla(0, 0%, 100%, 0.5);
    background: transparent;
    
}

@media screen and (max-width: 720px) 
{

    .inputText
    {
        font-size: 1rem;

    }

}