.container
{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome
{
    width: 100%;
    margin-top: 7rem;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome span
{
    font-size: 30px;
}

.exerciseContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    z-index: 10;
}


@media screen and (max-width: 860px) 
{

    .exerciseContainer
    {
        display: flex;
        flex-direction: column;
    }
}