.container
{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 86%;
}

.welcome
{
    width: 100%;
    margin-top: 7rem;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome span
{
    font-size: 30px;
}

.exerciseContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 10;
    margin: 10px;
    overflow: auto;
    flex-wrap: wrap;

}

.container .welcome
{
    top: 0;
    display: flex;
}


@media screen and (max-width: 860px) 
{
    
}