.container
{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.welcome
{
    width: 100%;
    position: relative;
    margin-top: 7rem;
    padding: 5px
}

.welcome span
{
    font-size: 30px;
}

.exerciseContainer
{
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

