#banner {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  object-fit: cover; /* Garante que a imagem cubra todo o contêiner */
}

span
{
  color:  #c0bebe;
}

.flexbox
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.flexbox >*
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.login >*
{
  margin: 1rem;
}

#loginTitle
{
  font-size: 30px;
  color: #fff;
}

.login
{
  border-radius: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
  min-height: 500px;
  height: auto;
  flex-direction: column;
  background: transparent;
  box-shadow: 0px 2px 4px white;
  border-radius: 20px;
  backdrop-filter: blur(15px);
  padding: 20px; 
}

@media screen and (max-width: 720px) {
 
 .container
 {
  background-image: url("../../images/About.jpg");
 }
 
  #btnLogin
  {
    font-size: 15px;
  }

  .login
  {
    width: 80%; 
  }

  .login >*
  {
    margin: 40px;
  }

  #loginTitle
  {
    font-size: 30px;
  }

  .eyeIcon
{
  width: 40px;
  height: 40px;
  position: absolute;
  right: 4%;
  bottom: 23%;
}

}
