.container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

#title
{
    font-size: 30px;
    color: #fff;
}

.singUp
{
    border-radius: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    min-height: 500px;
    height: auto;
    flex-direction: column;
    background: transparent;
    box-shadow: 0px 2px 4px white;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    padding: 20px; /* Ajustado o padding para melhor espaçamento interno */
}

.singUp >*
{
    margin: 1rem;
}