.container
{
    background: linear-gradient(170deg, rgba(58, 56, 56, 0.623) 0%, rgb(31, 31, 31) 100%);    text-align: center;
    margin: 10px;
    height: auto;
    width: 40%;
    border-radius: 10px;
	transition: 0.5s;

}

#title
{
    border-bottom: 1px solid white;
}

#title span
{
    font-size: 30px;
    padding: 2%;
}

#exercisesWrapper
{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
   
}

#exercisesWrapper span
{
    font-size: 100%;
    padding: 2%;
}


#exercisesWrapper li 
{
    color: #fff;
    border-bottom: 1px solid white;
}


.trashIcon 
{
    width: 30px;
    height: 30px;
    margin-left: 10px; 
    cursor: pointer;
}


.container:hover {
    transform: scale(1.1);
    transform: translateY(-20px);
}
