.footer p
{
  color: #fff;
}

.footer
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 80px;
  align-items: center;
  background: transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  border-radius: 20px;
  backdrop-filter: blur(15px);
  bottom: 0;
  position: fixed;
  margin-top: 1500px;
  width: 100%; 
}

.socialMedia img
{
  width: 30px;
  padding: 10px;
  height: 30px;
  transition: 200ms;

}

.socialMedia
{
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.socialMedia img:hover
{
  transform: scale(1.1);
  cursor: pointer;
}