:root
{
  --dark-color: rgb(53, 53, 53);

}

.header
{
  display: flex;
  justify-content: space-between;
  background: transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  border-radius: 20px;
  backdrop-filter: blur(15px);
  top: 0;
  width: 100%; 
  position: absolute;

}

.header p
{
  font-size: 30px;
  color: #fff;
  margin-left: 1rem;
}

.list
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow: auto;
}

ul li
{
  margin-right: 1rem;
}

li
{
  list-style: none;
}