:root {
  --dark-color: rgb(53, 53, 53);
}

.container {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: var(--dark-color);
  background-image: url("../images/banner-variation-2.jpg");
  background-position: 30%;
  background-repeat: no-repeat;
  display: flex;
}

  @media screen and (max-width: 1200px) {
   
    .container
    {
      background-position: center;
    }
  }

  @media screen and (max-width: 720px) {
    
      .container
      {
        background-image: url("../images/About.jpg");
      }
  }

